---
import AboutHeroImage from '../assets/about-me-profile.jpg';
import Layout from '../layouts/Post.astro';
---

<Layout
	title="About Me"
	description="About NILBOGtheSavior"
	pubDate={new Date('March 02 2026')}
	heroImage={AboutHeroImage}
>
	<p>
	</p>

</Layout>
