---
import AboutHeroImage from '../assets/img/about-me-profile.jpg';
import Layout from '../layouts/Post.astro';
---

<Layout
	title="About Me"
	description="About NILBOGtheSavior"
	pubDate={new Date('March 02 2026')}
	heroImage={AboutHeroImage}
>
	<h2><code>NILBOGtheSavior</code></h2>

	<p>
		From game development to system customization, my goal is to step into as many domains as possible while learning as much as I can. My work is driven by a focus on bloat-free software and aesthetic cohesion.
	</p>

	<p>
		I started programming in <b>Python</b>, and my first few projects were GUI applications built with <b>Tkinter</b> to help my day to day workflow. I then became interested in hardware when I built my first 3D printer. Since then, I have worked every day to build skills in many different subfields such as Systems, Game Development, Machine Learning, and more.
	</p>

	<p>
		The goal of my streams is to share my process with the world, interact with like-minded individuals, share ideas, and build a community. My environment of choice is <b>Linux</b>, and my current operating system is a custom built <b>Arch Distro</b>.
	</p>

	<p>
		My core languages vary depending on the project. For a systems project, it may be <b>C</b>, while for game development, it will most likely be <b>GDScript</b>, since I use the <b>Godot Game Engine</b>.
	</p>

</Layout>
