---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello, Goblins!</h1>

			<p>
				This site documents my projects progress. All active public projects will be documented with an overview, plan, and checkpoints.
			</p>

			<p>
				Project pages may be updated midstream.
			</p>

			<h2> Projects </h2>
		</main>
		<Footer />
	</body>
</html>
