---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2>
		<a href="/" style= "display: flex; align-items: center; gap: 30px;">
		<svg width="32" height="32" viewBox="24 65 161 112">
		<path
		style="fill: currentColor"
		d="M 101.46771,167.51202 C 93.736817,164.71074 81.286896,154.59041 73.224379,144.5535 68.099098,138.1731 65.473608,132.85403 62.33381,122.4899 l -0.685025,-2.26119 -2.771462,-1.13818 c -1.524304,-0.626 -3.816452,-1.82885 -5.093662,-2.67299 -2.746463,-1.8152 -6.14734,-5.21899 -7.799347,-7.80603 -0.650478,-1.01865 -4.116034,-7.74568 -7.701236,-14.948958 -3.585202,-7.20328 -7.905745,-15.716249 -9.601208,-18.917707 -1.695462,-3.201458 -3.383684,-6.388645 -3.751605,-7.082638 -0.56127,-1.058702 -0.620804,-1.367466 -0.369859,-1.918229 0.606353,-1.330799 1.433186,-1.017189 7.868986,2.984634 2.318472,1.441641 7.112458,4.375018 10.653302,6.518615 3.540845,2.143597 8.943253,5.562502 12.005351,7.597566 3.062099,2.035064 5.747236,3.664477 5.966971,3.620918 0.234271,-0.04644 1.016648,-1.556588 1.891548,-3.651075 1.552788,-3.717329 2.562272,-5.651093 4.350799,-8.334374 8.696552,-13.047213 24.537772,-20.522078 40.702447,-19.205925 10.48274,0.853521 19.23611,4.380579 27.06998,10.907498 5.36444,4.469473 9.39919,10.090026 12.46228,17.360406 0.68973,1.637109 1.40061,2.976562 1.57972,2.976562 0.17912,0 3.16513,-1.880661 6.63558,-4.179246 3.47046,-2.298585 7.38148,-4.820934 8.69117,-5.605218 1.30969,-0.784285 5.88402,-3.559466 10.16518,-6.16707 8.1977,-4.993121 9.29922,-5.549381 10.27388,-5.188204 0.99111,0.367275 0.72456,1.361389 -1.5067,5.619193 -4.35688,8.314028 -9.72111,18.850457 -13.82864,27.162211 -4.32531,8.752451 -5.26448,10.384111 -7.81439,13.576321 -2.59484,3.24844 -6.89193,6.15736 -11.44454,7.7474 -1.56907,0.54801 -1.74917,0.68918 -2.055,1.61086 -0.18437,0.55561 -1.03909,3.18119 -1.89939,5.83462 -3.04676,9.39714 -6.06517,14.4331 -13.50274,22.52819 -2.59808,2.82777 -7.66291,7.53574 -10.85328,10.08859 -4.20062,3.36122 -10.27723,6.88126 -13.70867,7.94113 -2.15011,0.6641 -5.00291,0.67436 -6.79654,0.0244 z"
		id="path1" />
		</g>
		</svg>	{SITE_TITLE}
		</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.twitch.tv/nilb0gthesavior" target="_blank">
				<span class="sr-only">Follow NILBOG on Twitch</span>
				<svg viewBox="0 0 32 32" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M26.711 14.929l-4.284 4.284h-4.285l-3.749 3.749v-3.749h-4.82v-16.067h17.138zM8.502 1.004l-5.356 5.356v19.279h6.427v5.356l5.356-5.356h4.284l9.641-9.64v-14.996zM21.356 6.895h2.142v6.427h-2.142zM15.464 6.895h2.143v6.427h-2.144z"/>
				</svg>
			</a>
			<a href="https://github.com/NILBOGtheSavior" target="_blank">
				<span class="sr-only">Go to NILBOG's GitHub profile</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--black);
		box-shadow: 0 2px 8px var(--black, 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--white);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
